name: Generate Snake

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Snake - Noir Black & White Theme
        uses: Platane/snk@v3
        with:
          github_user_name: EvilAekt
          outputs: |
            dist/github-snake-dark.svg?color_snake=#ffffff&color_dots=#161b22,#1a1a1a,#333333,#555555,#888888
            dist/github-snake.svg?color_snake=#000000&color_dots=#ebedf0,#c6c6c6,#888888,#555555,#333333

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
